@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  background-color: #f4f4f4;
}
.clean-up {
  width: 50px; 
  height: 40px; 
  border: none; 
  margin-left: -1rem;
  background-color: transparent;
  background-size: 50%;
  background-repeat: no-repeat;
  cursor: pointer; 
}

.clean-up:hover {
  color: white;
  background-color: red;
}

h1 {
  background-color: rgba(255, 255, 255, 0);
  font-size: 3rem;
  margin: auto;
  text-align: center;
}
.add {
  border: none;
  background-color: transparent;
  color: blue;
  padding-right: -5px;
}
.add:hover {
  color: #fff;
  background-color: blue;
}

button {
  padding: 0.1rem 0.9rem;
  margin-left: 0.1rem;
  cursor: pointer;
}
#todo-input {
  margin : 0 0 0 0rem;
  border: none;
  background-color: transparent;
}

ul {
  /* background-color: rgba(255, 255, 255, 0); */
  background: transparent;
  margin: 1.5rem auto 1.5rem 8rem;
  
}

li {
  &:first-child{
    margin-top: 70px;
  }
  /* background-color: rgba(255, 255, 255, 0); */
  list-style: none;
  background: transparent;
  padding: 0.1rem;
  margin: 19px 0 0 -2rem;
  cursor: pointer;
}

.todo-container {
  background-image: url(./img/notebook-background.jpg);

  margin: 1rem auto;
  /* background-color: #d80b0b; */
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  min-height: 600px;
}

.input-section {
  display: flex;
  /* background-color: #fff; */
  /* background-color: #ff0000; */
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
}


.delete {
  background: transparent;
  color: red;
  padding: 0.1rem 0.5rem;
  position: relative;
  left: 1rem;
}

.delete:hover {
  color: #fff;
  background-color: red;
}
.edit {
  background: transparent;
  color: orange;
  padding: 0.1rem 0.5rem;
  position: relative;
  left: 1rem;
}

.edit:hover {
  color: #000;
  background-color: yellow;
}

.update {
  background: transparent;
  color: rgb(118, 175, 118);
  padding: 0.1rem 0.5rem;
  position: relative;
  left: 1rem;
}

.update:hover {
  color: #fff;
  background-color: rgb(70, 122, 70);
}

#destroyInternet {
  background-color: #fa9898;
  font-weight: 800;
}
